<nav class="navbar navbar-default navbar-fixed-top" role="navigation">
  <div clas="navbar-header">
    <a class="navbar-brand" href="/manager/man">THE BOB</a>
    <a class="navbar-brand" href="/about/us">About Us</a>
<a class="navbar-brand" class="dropdown-toggle" href="/products/index" data-toggle="dropdown" role="button" aria-expanded="false">SHOPPING <span class="caret"></span></a>
          <ul class="dropdown-menu" role="menu">
            <li><a href="/products/">banchan1</a></li>
            <li><a href="#">BANCHAN2</a></li>
            <li><a href="#">banchan3</a></li>
            <li class="divider"></li>
            <li><a href="#">bab1</a></li>
            <li><a href="#">bab1</a></li>
            <li class="divider"></li>
            <li><a href="#">soup</a></li>
          </ul>
<% if session[:user_id].nil? %>
<a class="navbar-brand" href="/users/login">LogIn</a>
<a class="navbar-brand" href="/users/signup">JoinUs</a>
<a class="navbar-brand" href="/qna/posts">FAQ</a>
<% else %>
<a class="navbar-brand" href="/qna/posts">FAQ</a>
<a class="navbar-brand" href="#">MyPage</a>
<a class="navbar-brand" href="/users/logout_complete">LogOut</a>
<% end %>
<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
    <ul class="nav navbar-nav">
      <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">MANAGER <span class="caret"></span></a>
          <ul class="dropdown-menu" role="menu">
            <li><a href="#">Action</a></li>
            <li><a href="#">Another action</a></li>
            <li><a href="#">Something else here</a></li>
            <li class="divider"></li>
            <li><a href="#">Separated link</a></li>
          </ul>
        </li>
  </ul>
</div>
    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>

  </div>
<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
    <ul class="nav navbar-nav">
      <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">Dropdownoreum <span class="caret"></span></a>
          <ul class="dropdown-menu" role="menu">
            <li><a href="/users/show">회원관리</a></li>
            <li><a href="#">Another action</a></li>
            <li><a href="#">Something else here</a></li>
            <li class="divider"></li>
            <li><a href="#">Separated link</a></li>
          </ul>
        </li>
      
    </ul>
  </div>
</nav>

<br>
<br>
<h3>    THE BOB members</h3>
<ol>
<% @users.each do |user| %>
<div style="border: 1px solid #ffffff">
  <li> <h4>UserID <a><%= user.username %></a></h4>
  <p>Email : <%= user.email %></p>
  <p>Phonenumber : <%= user.phonenumber %></p>
</div>
<% end %>
</ol>
