
<p>Find me in app/views/home/index.html.erb</p>
<html>
  <head>
    <meta charset="utf-8">
    <title>The BOB</title>
    <link rel="stylesheet" type="text/css" href="assets/bootstrap.css">
    <link rel="stylesheet" type="text/css" href="assets/index.css">
   </head>
  <body>
<!-- navbar -->
<nav class="navbar navbar-default navbar-fixed-top" role="navigation">
  <div clas="navbar-header">
    <a class="navbar-brand" href="/">THE BOB</a>
    <a class="navbar-brand" href="/about/us">About Us</a>
<a class="navbar-brand" class="dropdown-toggle" href="/shop/index" data-toggle="dropdown" role="button" aria-expanded="false">SHOPPING <span class="caret"></span></a>
          <ul class="dropdown-menu" role="menu">
            <li><a href="/shop/index">banchan1</a></li>
            <li><a href="/shop/index">BANCHAN2</a></li>
            <li><a href="/shop/index">banchan3</a></li>
            <li class="divider"></li>
            <li><a href="/shop/index">bab1</a></li>
            <li><a href="/shop/index">bab1</a></li>
            <li class="divider"></li>
            <li><a href="/shop/index">soup</a></li>
          </ul>
<% if session[:user_id].nil? %>
<a class="navbar-brand" href="/users/login">LogIn</a>
<a class="navbar-brand" href="/users/signup">JoinUs</a>
<a class="navbar-brand" href="/qna/posts">FAQ</a>
<% else %>
<a class="navbar-brand" href="/qna/posts">FAQ</a>
<a class="navbar-brand" href="#">MyPage</a>
<a class="navbar-brand" href="/users/logout_complete">LogOut</a>
<% end %>


  </div>
</nav>
<%= yield %>
<div class="container">
  <!-- introduction -->
  <div class="jumbotron">
    <img src="food2.jpg">
    <h1 style="font-family: Gill Sans;">Welcome to THE BOB</h1>
  </div>

</div>
  </body>
</html>

