.container {
  margin-top: 30px;
  padding-left: 30px;
  padding-right: 100px;
}

.jumbotron {
  text-align: center;
}

.jumbotron > h1 {
  color: black;
}

.jumbotron > p {
  margin-top: 30px;
  font-size: 15px;
}

#profile-description {
  text-align: center;
}

#profile-photo {
  width: 20%;
  text-align:left;
}

