<p><%= flash[:alert] %></p>
<h2>맛집 추가하기</h2>

<form action="/qna/write_complete" method="post">
  <p style="color: black">분류:
  <select name="post_category">
    <option value="상품문의">상품문의</option>
    <option value="주문/결제">주문/결제</option>
    <option value="배송관련">배송관련</option>
    <option value="취소/환불">취소/환불</option>
  </select></p>
  <p>제목: <input type="text" name="post_title" placeholder="제목을 입력하세요."></p>
  <p>내용: <textarea name="post_content" placeholder="내용을 입력하세요."></textarea></p>
  <input type="submit" value="추가하기">
</form>

