
<p>Find me in app/views/views/mypage/shows.html.erb</p>
<html>
   <head>
	<meta charset="utf-8">
	<title>My Page</title>
	<link rel="stylesheet" type="text/css" href="assets/bootstrap.css">
	<link rel="stylesheet" type="text/css" href="assets/index.css">
   </head>
<body>
<!-- navbar -->
<nav class="navbar navbar-default navbar-fixed-top" role="navigation">
   <div clas="navbar-header">
	<a class="navbar-brand" href="/">THE BOB</a>
	<a class="navbar-brand" class="dropdown-toggle" href="#" data-toggle="dropdown" role="button" aria-expanded="false">주문관리 <span class="caret"></span> </a>
	<ul class="dropdown-menu" role="menu">
	   <li><a href="#">주문/배송현황</a></li>
	   <li><a href="AddAddr">배송 주소 관리</a></li>
	</ul>
	   
	<a class="navbar-brand" href="#">나의 포인트</a>
	<a class="navbar-brand" href="#">나의 Q&A</a>
	<a class="navbar-brand" href="#">나의 구매 후기</a>

   </div>
</nav>

</body>
</html>
	
